<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GravityBallScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GravityBallScreenSaver.Properties.Settings>
            <setting name="MassMax" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="BallCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Gravity" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="MassMin" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ElastMin" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="ElastMax" serializeAs="String">
                <value>0.01</value>
            </setting>
        </GravityBallScreenSaver.Properties.Settings>
    </userSettings>
</configuration>